@model List<LessonViewModel>

<div class="row my-2">
    <div class="col-md-6">
        <h1 class="display-6">Eğitimler</h1>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-end">
        <a asp-area="Admin"
           asp-controller="Lesson"
           asp-action="Create"
           class="btn btn-primary">Eğitim Ekle</a>
    </div>
</div>


<div class="card mb-4">
    <div class="card-body">
        <table id="data-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ad</th>
                    <th>Oluşturulma Tarihi</th>
                    <th>Son Değiştirilme Tarihi</th>
                    <th>Kontenjan</th>
                    <th>Fiyat</th>
                    <th>Ders saati</th>
                    <th>Aktif mi?</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lesson in Model)
                {
                    <tr>
                        <td>@lesson.Id</td>
                        <td>@lesson.Name</td>
                        <td>@lesson.CreatedDate.ToShortDateString()</td>
                        <td>@lesson.ModifiedDate.ToShortDateString()</td>
                        <td>@lesson.Kontenjan</td>
                        <td>@lesson.Price</td>
                        <td>@lesson.PeriodOfStudy</td>
                        <td>
                            <form class="form-check"
                                  asp-area="Admin"
                                  asp-controller="Lesson"
                                  asp-action="UpdateIsActive"
                                  asp-route-id="@lesson.Id"
                                  id="form-lesson-is-active-@lesson.Id">
                                <div class="form-check form-switch">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           role="switch"
                                           id="flexSwitchCheckChecked" @(lesson.IsActive ? "checked" : "")
                                           onchange="document.getElementById(`form-lesson-is-active-@lesson.Id`).submit();">
                                </div>

                            </form>
                        </td>
                        <td>
                            <!-- KALICI OLARAK SİLME BUTONU -->
                            <a class="btn btn-danger btn-sm"
                               asp-area="Admin"
                               asp-controller="Lesson"
                               asp-action="Delete"
                               asp-route-id="@lesson.Id">
                                <i class="fa-solid fa-trash"></i>
                            </a>

                            <!-- SOFT SİLME BUTONU -->
                       @* @await Html.PartialAsync("_PublisherDeletePartial",lesson)*@

                            <!-- GÜNCELLEME BUTONU -->
                            <a class="btn btn-info btn-sm"
                               asp-area="Admin"
                               asp-controller="Lesson"
                               asp-action="Edit"
                               asp-route-id="@lesson.Id">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Css{
    @await Html.PartialAsync("_DataTablesStylesPartial")
}

@section Js{
    @await Html.PartialAsync("_DataTablesScriptsPartial")
}